USE [master]
GO
/****** Object:  Database [CareTrack]    Script Date: 30-01-2026 13:01:22 ******/
CREATE DATABASE [CareTrack]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CareTrack', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\CareTrack.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CareTrack_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\CareTrack_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CareTrack].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CareTrack]
GO
/****** Object:  UserDefinedFunction [dbo].[fnSplitString]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[fnSplitString] 
( 
    @string NVARCHAR(MAX), 
    @delimiter CHAR(1) 
) 
RETURNS @output TABLE(splitdata NVARCHAR(MAX) 
) 
BEGIN 
    DECLARE @start INT, @end INT 
    SELECT @start = 1, @end = CHARINDEX(@delimiter, @string) 
    WHILE @start < LEN(@string) + 1 BEGIN 
        IF @end = 0  
            SET @end = LEN(@string) + 1
       
        INSERT INTO @output (splitdata)  
        VALUES(SUBSTRING(@string, @start, @end - @start)) 
        SET @start = @end + 1 
        SET @end = CHARINDEX(@delimiter, @string, @start)
        
    END 
    RETURN 
END

-----------------------------------------------------------------


--------------------------AppointmentTaker-------------------------
----------------------------(1)-------------------------------

--The slots are from 9 AM to 5 PM each today and each slot is of one hour
GO
/****** Object:  Table [dbo].[Department]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DeptNo] [int] NOT NULL,
	[DeptName] [varchar](30) NOT NULL,
	[Description] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeptNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DeptName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[DoctorID] [int] NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Phone] [char](11) NULL,
	[Address] [varchar](40) NULL,
	[BirthDate] [date] NOT NULL,
	[Gender] [char](1) NOT NULL,
	[DeptNo] [int] NOT NULL,
	[Charges_Per_Visit] [float] NOT NULL,
	[MonthlySalary] [float] NULL,
	[ReputeIndex] [float] NULL,
	[Patients_Treated] [int] NOT NULL,
	[Qualification] [varchar](100) NOT NULL,
	[Specialization] [varchar](100) NULL,
	[Work_Experience] [int] NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[deptInfo]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[deptInfo]
as
select DeptName, [Description], count(Dept.deptNo) as [Number of Doctors] 
from Department Dept join Doctor D on Dept.DeptNo = D.DeptNo
where D.status != 0
group by Dept.DeptNo, DeptName, [Description] 



--------------------------ViewDoctors-------------------------

----------------------------(1)-------------------------------
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[PatientID] [int] NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Phone] [char](11) NULL,
	[Address] [varchar](40) NULL,
	[BirthDate] [date] NOT NULL,
	[Gender] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Total_Patient]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*THIS VIEW WILL RETURN TOTAL PATIENTS FROM THE DATABASE */
create View  [dbo].[Total_Patient]
AS
select COUNT(patientID) as 'Total Patients' from Patient


----------------------------------------------------------------------------------
------------------------------------------(2)---------------------------------------
GO
/****** Object:  View [dbo].[Total_Doctors]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*THIS VIEW WILL RETURN TOTAL DOCTOR FROM THE DATABASE */
create VIEW [dbo].[Total_Doctors]
AS
select COUNT(Doctor.DoctorID) as 'Total Doctors' from Doctor where Doctor.status != 0

----------------------------------------------------------------------------------

GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[AppointID] [int] IDENTITY(1,1) NOT NULL,
	[DoctorID] [int] NULL,
	[PatientID] [int] NULL,
	[Date] [datetime] NULL,
	[Appointment_Status] [int] NULL,
	[Bill_Amount] [float] NULL,
	[Bill_Status] [varchar](10) NULL,
	[DoctorNotification] [int] NULL,
	[PatientNotification] [int] NULL,
	[FeedbackStatus] [int] NULL,
	[Disease] [varchar](100) NULL,
	[Progress] [varchar](100) NULL,
	[Prescription] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Income]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------(3)---------------------------------------
/*THIS FUNCTION WILL RETURN THE INCOME OF CURRENT MONTH*/
create VIEW [dbo].[Income]
AS
SELECT SUM(Bill_Amount) as Income FROM Appointment
WHERE Appointment.Bill_Status = 'Paid'
AND 
DATEDIFF(MONTH, Appointment.Date, GETDATE())  = 0



---------------------------------------------------------------------------------
------------------------------------------(4)---------------------------------------

GO
/****** Object:  View [dbo].[Department_View]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*THIS FUNCITON WILL RETURN LIST OF DEPRARTMENTS */
create VIEW [dbo].[Department_View]
AS
SELECT TOP 20  Department.DeptNo as ID , Department.DeptName as [Name] ,Department.Description, count(department.deptno) as [Number of Doctors] 
FROM Department join Doctor on Department.DeptNo = Doctor.DeptNo
where Doctor.status != 0
GROUP BY Department.DeptNo , Department.DeptNo , Department .DeptName , Department.Description
ORDER BY Department.DeptNo

--------------------------------------------------------------------------------


GO
/****** Object:  View [dbo].[Appointment_view]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------(5)---------------------------------------
/*THIS VIEW WILL RETURN THE APPOINTMENT VIEW CONTAINING PATIENT NAM AND DOCTOR NAME*/
create VIEW [dbo].[Appointment_view]
AS
SELECT A.AppointID , Doctor.Name , Patient.PatientID, A.Date  FROM Appointment A JOIN Patient ON Patient.PatientID = A.PatientID
JOIN Doctor ON Doctor.DoctorID = A.DoctorID
WHERE DATEDIFF(MONTH, A.Date, GETDATE()) = 0

------------------------------------------------------------------------------------

GO
/****** Object:  Table [dbo].[OtherStaff]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtherStaff](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Phone] [char](11) NULL,
	[Address] [varchar](30) NULL,
	[Designation] [varchar](15) NOT NULL,
	[Gender] [char](1) NOT NULL,
	[BirthDate] [date] NULL,
	[Highest_Qualification] [varchar](50) NULL,
	[Salary] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[STAFF_VIEW]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------(6)---------------------------------------
create VIEW [dbo].[STAFF_VIEW]
AS
SELECT StaffID as ID , Name , Designation from OtherStaff



--------------------------------------------------------------------------------------
GO
/****** Object:  View [dbo].[PATIENT_VIEW]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------(7)---------------------------------------
CREATE VIEW [dbo].[PATIENT_VIEW]
AS
SELECT Patient.PatientID as ID , Patient.Name , Patient.Phone from Patient

-----------------------------------------------------------------------------------------
GO
/****** Object:  Table [dbo].[LoginTable]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginTable](
	[LoginID] [int] IDENTITY(1,1) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[Email] [varchar](30) NOT NULL,
	[Type] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProfileImages]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfileImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[LoginID] [int] NOT NULL,
	[S3BucketName] [varchar](100) NOT NULL,
	[S3Key] [varchar](500) NOT NULL,
	[FileName] [varchar](255) NOT NULL,
	[FileExtension] [varchar](10) NOT NULL,
	[ContentType] [varchar](100) NOT NULL,
	[FileSizeBytes] [bigint] NOT NULL,
	[S3Url] [varchar](1000) NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProfileImages_LoginID]    Script Date: 30-01-2026 13:01:23 ******/
CREATE NONCLUSTERED INDEX [IX_ProfileImages_LoginID] ON [dbo].[ProfileImages]
(
	[LoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProfileImages_LoginID_Unique]    Script Date: 30-01-2026 13:01:23 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ProfileImages_LoginID_Unique] ON [dbo].[ProfileImages]
(
	[LoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Doctor] ADD  DEFAULT ((0)) FOR [Patients_Treated]
GO
ALTER TABLE [dbo].[ProfileImages] ADD  DEFAULT (getutcdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[ProfileImages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patient] ([PatientID])
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctor] ([DoctorID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD FOREIGN KEY([DeptNo])
REFERENCES [dbo].[Department] ([DeptNo])
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD FOREIGN KEY([PatientID])
REFERENCES [dbo].[LoginTable] ([LoginID])
GO
ALTER TABLE [dbo].[ProfileImages]  WITH CHECK ADD  CONSTRAINT [FK_ProfileImages_LoginTable] FOREIGN KEY([LoginID])
REFERENCES [dbo].[LoginTable] ([LoginID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProfileImages] CHECK CONSTRAINT [FK_ProfileImages_LoginTable]
GO
/****** Object:  StoredProcedure [dbo].[AddDoctor]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[AddDoctor]
@Name varchar(50) ,
@Email varchar(50),
@Password varchar(50),
@BirthDate Date,
@dept int , 
@gender char(1),
@Address varchar(50),
@Exp int , 
@Salary int,
@spec varchar(50) , 
@phone varchar(50) ,
@charges int , 
@qual varchar(50)

AS
BEGIN
DECLARE @id int
		
		insert into LoginTable values(@password, @email, 2)
		select @id = LoginID from LoginTable where email=@email	
		insert into Doctor values(@id, @name, @phone, @address, @BirthDate, @gender , @dept , @charges , @Salary , 0 , 0 , @qual , @spec ,@Exp , -1)
	
END




------------------------------------------(5)---------------------------------------
-------------------------------------------------------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[AddStaff]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*THIS PROCEDURE WILL ADD STAFF TO OTHERSTAFF TABLE*/
create procedure [dbo].[AddStaff]
@Name varchar(50),  
@BirthDate Date,
@phone varchar(30),
@gender varchar(1),
@designation varchar(30),
@Address varchar(50),
@Salary int,
@Qualification varchar(50)
AS
BEGIN

INSERT INTO OtherStaff VALUES(@Name , @phone , @Address ,@designation ,@gender ,@BirthDate , @Qualification ,@Salary)

END

------------------------------------------------------------------------------------


------------------------------------------(6)---------------------------------------
GO
/****** Object:  StoredProcedure [dbo].[APPROVE_APPOINTMENT]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------------Approves a Particular Appointment----------------
create PROCEDURE [dbo].[APPROVE_APPOINTMENT]
@APPOINT_ID INT
AS
BEGIN
	UPDATE Appointment
	SET Appointment_Status = 1, PatientNotification = 2
	WHERE AppointID = @APPOINT_ID
END




----------------------------(3)-------------------------------

-------------Returns the Approved Appointments of Today----------------
GO
/****** Object:  StoredProcedure [dbo].[CheckDoctorEmail]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CheckDoctorEmail]
@Email varchar(30),
@status int output
AS
BEGIN
SET @status = 0

	IF EXISTS( select * from LoginTable where Email = @Email )
	BEGIN
	
	SET @status = 1
	
	END

END

--EXECUTION---
DECLARE @r int 
EXEC CheckDoctorEmail  'hassaan.elahi@hotmail.com'  , @r output
select @r





------------------------------------------(4)---------------------------------------
----------------------------------------------------------------------------

/*this funciton will Add doctor to the database */
GO
/****** Object:  StoredProcedure [dbo].[delete_APPOINTMENT]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[delete_APPOINTMENT]
@APPOINT_ID int
as 
begin
	update Appointment
	set Appointment_Status=4, PatientNotification = 2
	where AppointID=@APPOINT_ID
end





----------------------------(8)-------------------------------

------------Display Doctor's Info----------------

GO
/****** Object:  StoredProcedure [dbo].[DeleteDoctor]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteDoctor]
@id int 
AS
BEGIN

delete from Doctor where DoctorID = @id

END 


----------------------------------------------------------------------

------------------------------------------(7)---------------------------------------
GO
/****** Object:  StoredProcedure [dbo].[DELETESTAFF]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETESTAFF]
@id int 
AS
BEGIN

delete from OtherStaff where StaffID = @id

END 




---------------------------------------------------------------------------------
--									TRIGGERS								   --
---------------------------------------------------------------------------------



------------------------------------------(1)---------------------------------------
GO
/****** Object:  StoredProcedure [dbo].[Doctor_Information_By_ID1]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Doctor_Information_By_ID1]
@Id int
as 
begin 
	select * from doctor where doctorid=@id
end




----------------------------(9)-------------------------------

------------Update the Prescription when the Appointment is Completed----------------

GO
/****** Object:  StoredProcedure [dbo].[finishedPaid]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[finishedPaid]
@docId int,
@appointid  int
as 
begin
	update Appointment
	set Bill_Status='paid',Appointment_Status=3,PatientNotification=2,Bill_Amount=(select Charges_Per_Visit from doctor where DoctorID=@docId),FeedbackStatus = 2
	where AppointID=@appointid

		update Doctor
	set Patients_Treated = Patients_Treated + 1
	where DoctorID = @docId

end




----------------------------(7)-------------------------------

-------------When an Appointment is Rejected----------------

GO
/****** Object:  StoredProcedure [dbo].[finishedUnpaid]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[finishedUnpaid]
@docId int,
@appointid  int 
as 
begin
	update Appointment
	set Bill_Status='Unpaid',Appointment_Status=3,PatientNotification=2, Bill_Amount = (select Charges_Per_Visit from doctor where DoctorID=@docId),FeedbackStatus = 2
	where AppointID=@appointid

	update Doctor
	set Patients_Treated = Patients_Treated + 1
	where DoctorID = @docId
end



----------------------------(6)-------------------------------

-------------When the Appointment is Completed and Bill is Paid----------------


GO
/****** Object:  StoredProcedure [dbo].[generate_bill]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[generate_bill]
@did int
as 
begin
	select Charges_per_Visit as [Charges] from doctor 
	where DoctorID=@did
end




----------------------------(5)-------------------------------

-------------When the Appointment is Completed and Bill is not Paid----------------

GO
/****** Object:  StoredProcedure [dbo].[get_appointment]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[get_appointment]
@APPOINT_ID INT
AS
BEGIN
	select Appointid,Date,Appointment_Status,Bill_Amount,Bill_Status,Disease,Progress,Prescription  from Appointment
	WHERE AppointID = @APPOINT_ID
END




----------------------------(11)-------------------------------
GO
/****** Object:  StoredProcedure [dbo].[GET_DOCTOR_PROFILE]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*THIS PROCEDURE WILL RETURN INFO OF DOCTOR*/
create procedure [dbo].[GET_DOCTOR_PROFILE]


@dID int,

@name varchar(20) output,
@phone char(15) output,
@gender varchar(2) output,
@charges float output,
@RI float output,
@PTreated int output,
@qualification varchar(100) output,
@specialization varchar(50) output,
@workE int output,
@age int output

as
begin
	select @name=Name, @phone=Phone, @gender=Gender,@charges = charges_per_visit, @RI = ReputeIndex, @PTreated = Patients_Treated, @qualification = qualification, @specialization = specialization, @workE = Work_Experience, @age=DATEDIFF(YEAR, BirthDate, GETDATE()) from Doctor where DoctorID = @dID
end



------------------------------------------------------------------------------------------------

select * from OtherStaff



------------------------------------------(3)---------------------------------------
--this procedure checks the email of doctor in login table and return true if it exists--
GO
/****** Object:  StoredProcedure [dbo].[GET_STAFF]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------------------------------
--								STORED PROCEDURES							   --
---------------------------------------------------------------------------------


------------------------------------------(1)---------------------------------------

/*GIVES INFORMAION OF STAFF*/
create PROCEDURE [dbo].[GET_STAFF]
@id int ,

@name varchar(20) output,
@phone char(15) output,
@gender varchar(2) output,
@address varchar(100) output,
@desig varchar(100) output,
@sal int output
AS

BEGIN

SELECT @name = Name , @phone = OtherStaff.Phone , @gender = OtherStaff.Gender , @gender = OtherStaff.Gender , @address = OtherStaff.Address , @desig = OtherStaff.Designation ,
@sal = OtherStaff.Salary FROM OtherStaff  where OtherStaff.StaffID = @id

END



---------------------------------------------------------------------


------------------------------------------(2)---------------------------------------
GO
/****** Object:  StoredProcedure [dbo].[insertInAppointmentTable]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[insertInAppointmentTable]

@pid int,
@dId int,
@freeSlot int

as
begin

	if (@freeSlot < 9)
		set @freeSlot = @freeSlot + 12

	declare @date varchar (100)
	select @date = CONVERT(VARCHAR(11),GETDATE(),6)
	select @date = @date + ' ' + cast (@freeSlot as varchar(30)) + ':00'
	
	declare @dateA datetime
	select @dateA = CONVERT(datetime, @date)

	insert into Appointment values (@dId,@pId,@dateA,2,NULL,NULL,2,1,NULL,NULL,NULL,NULL)  --Trigger (1) will be called here.
end




--------------------------PatientNotifications-------------------------
----------------------------(1)-------------------------------

GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------------*/
/*-----------------------------SignUp-----------------------------*/
/*----------------------------------------------------------------*/

----------------------------(1)-------------------------------

/*
returns status = 0 if successful
		status = 1 if email not found
		status = 2 if password is wrong


returns ID of person and type of person i.e patient, doctor, admin on success
returns ID = 0, type = 0 on failure
--Type: 1 -- Patient
--Type: 2 -- Doctor
--Type: 3 -- Admin
*/

create procedure [dbo].[Login]

@email varchar(30),
@password varchar(20),
@status int output,
@ID int output,
@type int output

as
begin
	if exists(select * from LoginTable where email=@email)
	BEGIN
		if @password = (select password from LoginTable where email=@email)
		BEGIN
			select @ID = LoginID, @type = [type] from LoginTable where email=@email
			set @status = 0
		END

		else
		BEGIN
			set @status = 2
			set @ID = 0
			set @type = 0
		END
	END

	else
	BEGIN
		set @status = 1
		set @ID = 0
		set @type = 0
	END
end



----------------------------(2)-------------------------------
/*
Signups new patient

returns status = 1 on success
returns status = 0 if patient already exists
*/
GO
/****** Object:  StoredProcedure [dbo].[PatientSignup]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[PatientSignup]

@name varchar(20),
@phone char(15),
@address varchar(40),
@date Date,
@gender char(1),
@password varchar(20),
@email varchar(30),

@status int output,
@ID int output

as
begin

	if not exists(select * from LoginTable where email=@email)
	begin
		insert into LoginTable values(@password, @email, 1)

		select @id = LoginID from LoginTable where email=@email

		insert into Patient values(@id, @name, @phone, @address, @date, @gender)
		set @status = 1
	end
	
	else
	begin
		set @status = 0
	end

end


GO
/****** Object:  StoredProcedure [dbo].[PENDING_APPOINTMENTS2]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------------------------------
--								STORED PROCEDURES							   --
---------------------------------------------------------------------------------



----------------------------(1)-------------------------------

---------------------Returns the Pending Appointments of Today------------ 
create PROCEDURE [dbo].[PENDING_APPOINTMENTS2]
@DOCTOR_ID INT
AS
BEGIN
	SELECT A.AppointID, P.Name as [Patient's Name], A.[Date],Appointment_Status FROM Appointment A
	JOIN Patient P ON A.PatientID = P.PatientID
	WHERE A.DoctorID = @DOCTOR_ID AND A.Appointment_Status = 2 and DATEDIFF(DAY, A.Date, GETDATE()) = 0
END




----------------------------(2)-------------------------------
GO
/****** Object:  StoredProcedure [dbo].[RetrieveBillHistory]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[RetrieveBillHistory]

@pID int,
@count int OUTPUT

as
begin

	select CONVERT(VARCHAR(11),[date],106) as [Date],  [Name] as [Doctor's Name], Bill_Amount as [Bill Amount], Bill_Status as [Bill Status]
	from Appointment A join Doctor D on A.DoctorID = D.DoctorID
	where PatientID = @pID AND Appointment_Status = 3

	select @count = count(*) from Appointment where PatientID = @pID and Appointment_Status = 3
end



--------------------------CurrentAppointment-------------------------
----------------------------(1)-------------------------------

GO
/****** Object:  StoredProcedure [dbo].[RetrieveCurrentAppointment]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[RetrieveCurrentAppointment]

@pID int,
@dName varchar(30) OUTPUT,
@timings varchar(30) OUTPUT,
@count int OUTPUT

as
begin

	--If there was an appointment whose status was pending and the doctor didn't check it on the day the appointment was requested 
	--then since its the next day now, so that appointment will be deleted.
	
	if (exists (select* from Appointment where PatientID = @pID AND Appointment_Status = 2))
	begin
		declare @day datetime, @month datetime, @year datetime
		set @day = datepart (day,getdate())
		set @month = datepart (month, getdate())
		set @year = datepart (year, getdate())

		declare @Aday datetime, @Amonth datetime, @Ayear datetime

		select @Aday = datepart(day,[date]), @Amonth = datepart(MONTH,[date]), @Ayear = datepart(YEAR,[date]) from Appointment where PatientID = @pID AND Appointment_Status = 2

		select @dName = name, @timings = CONVERT(VARCHAR(19),[date]) from Appointment A join Doctor D on A.DoctorID = D.DoctorID
																		   where PatientID = @pID AND appointment_Status = 2
		
		--If the appointment is outdated then delete it
		if (@Aday != @day OR @Amonth != @month OR @Ayear != @year)
		begin
			delete from Appointment where PatientID = @pID AND Appointment_Status = 2
			set @count = 3
		end

		else
		begin
			set @count = 2
		end
	end

	else
	begin
		if (exists (select * from Appointment where PatientID = @pid and Appointment_Status = 1))
		begin
				select @dName = name, @timings = CONVERT(VARCHAR(19),[date]) from Appointment A join Doctor D on A.DoctorID = D.DoctorID
																		   where PatientID = @pID AND appointment_Status = 1
				set @count = 1
		end

		else
		begin
				set @count = 0
		end
	end
end


--------------------------TreatmentHistory-------------------------
----------------------------(1)-------------------------------

GO
/****** Object:  StoredProcedure [dbo].[RetrieveDeptDoctorInfo]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[RetrieveDeptDoctorInfo]

@deptName varchar(30)

as
begin

	select DoctorID, [Name] as [Doctor's Name], Specialization, deptName as [DeptName]
	from Department Dept join Doctor D on Dept.DeptNo = D.DeptNo
	where DeptName = @deptName AND D.status != 0
	
end



--------------------------DoctorProfile-------------------------
----------------------------(1)-------------------------------

/*
Takes DoctorID and returns its data
*/
GO
/****** Object:  StoredProcedure [dbo].[RetrieveDoctorData]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[RetrieveDoctorData]


@dID int,

@name varchar(30) output,
@phone char(11) output,
@gender varchar(2) output,
@charges float output,
@RI float output,
@PTreated int output,
@qualification varchar(100) output,
@specialization varchar(100) output,
@workE int output,
@age int output

as
begin
	select @name=Name, @phone=Phone, @gender=Gender,@charges = charges_per_visit, @RI = ReputeIndex, @PTreated = Patients_Treated, @qualification = qualification, @specialization = specialization, @workE = Work_Experience, @age=DATEDIFF(YEAR, BirthDate, GETDATE()) from Doctor where DoctorID = @dID
end






--------------------------------------------------------------------------------------
----------------------------------Split Function--------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[RetrieveFreeSlots]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[RetrieveFreeSlots]

@dID int,
@pID int,
@count int OUTPUT

as
begin

declare @month int, @year int, @day int
declare @hoursList varchar(100)


set @month = DATEPART(MONTH, GETDATE())
set @year  = DATEPART(YEAR, GETDATE())
set @day   = DATEPART(DAY, GETDATE())


declare @currentHour int

set @currentHour = 9
set @count = 0
set @hoursList = ''

declare @tempT varchar (10)
declare @tempHour int

set @tempHour = 0

	while (@currentHour != 18)
	begin
			if (
				not exists (select* from Appointment 
							where
							DATEPART(YEAR, [DATE]) = @year AND  DATEPART(MONTH, [DATE]) = @month AND DATEPART(DAY, [DATE]) = @day
							AND DoctorID = @dID
							AND DATEPART(Hour, [DATE]) = @currentHour
							)
				)

			begin

				set @count = @count + 1

				if (@currentHour < 12)
				begin
					set @tempT = ':00 AM'
					set @tempHour = @currentHour
				end
				
				else if (@currentHour = 12)
				begin
					set @tempT = ':00 PM'
					set @tempHour = @currentHour
				end		

				else
				begin
					set @tempT = ':00 PM'
					set @tempHour = @currentHour - 12
				end
								

				SELECT @hoursList = @hoursList + CAST(@tempHour AS VARCHAR(5))  + @tempT + ','

			end
				
		    set @currentHour = @currentHour + 1
	end


	select convert (varchar(100), splitdata) as [Free Slots] from dbo.fnSplitString(@hoursList,',')
end



--------------------------AppointmentRequestSent-------------------------
----------------------------(1)-------------------------------

GO
/****** Object:  StoredProcedure [dbo].[RetrievePatientData]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------------*/
/*-----------------------------Patient-----------------------------*/
/*----------------------------------------------------------------*/



--------------------------PatientHome-------------------------
----------------------------(1)-------------------------------

/*
Takes PatientID and returns its data
*/

create procedure [dbo].[RetrievePatientData]

@ID int,
@name varchar(30) output,
@phone char(11) output,
@address varchar(40) output,
@birthDate varchar (10) output,
@age int output,
@gender char(1) output

as
begin
	select @name=Name, @phone=Phone, @address=Address, @gender=Gender, @age=DATEDIFF(YEAR, BirthDate, GETDATE()), @birthDate = BirthDate from Patient where PatientID = @ID
end




--------------------------BillsHistory-------------------------
----------------------------(1)-------------------------------

GO
/****** Object:  StoredProcedure [dbo].[RetrievePatientNotifications]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[RetrievePatientNotifications]

@pID int,
@dName varchar(30) OUTPUT,
@timings varchar(30) OUTPUT,
@count int OUTPUT

as
begin


	if (exists (select* from Appointment where PatientID = @pID AND PatientNotification = 2))
	begin

		declare @aStatus int, @aID int
		select @aStatus = Appointment_Status, @aID = AppointID from Appointment where PatientID = @pID AND PatientNotification = 2

		if(@aStatus = 1 or @aStatus = 3)
		begin

			if (@aStatus = 3)
			begin
				set @count = 3
			end

			else
			begin
				set @count = 1
			end

			select @dName = name, @timings = CONVERT(VARCHAR(19),[date]) from Appointment A join Doctor D on A.DoctorID = D.DoctorID
																	   where @aID = AppointID			
			--Mark that notification as Seen
			update Appointment
			set patientNotification = 1
			where AppointID = @aID

		end

		else if (@aStatus = 4)
		begin
			select @dName = name, @timings = CONVERT(VARCHAR(19),[date]) from Appointment A join Doctor D on A.DoctorID = D.DoctorID
																		   where @aID = AppointID

			set @count = 2

			--Delete the rejected appointment
			delete from Appointment where AppointID = @aID
		end

		else
		begin
			set @count = 0
		end
	end

	else
	begin
		set @count = 0
	end
end


--------------------------PatientFeedback-------------------------
----------------------------(1)-------------------------------

GO
/****** Object:  StoredProcedure [dbo].[retrievePendingFeedback]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[retrievePendingFeedback]

@pID int,
@dName varchar(30) OUTPUT,
@timings varchar(30) OUTPUT,
@aID int OUTPUT,
@count int OUTPUT

as
begin

	if (exists (select* from Appointment where PatientID=@pID AND feedbackStatus = 2 AND Appointment_Status = 3))
	begin
		  set @count = 1

		  select @dName = name, @timings = CONVERT(VARCHAR(19),[date]), @aID = AppointID from Appointment A join Doctor D on A.DoctorID = D.DoctorID
																		   where PatientID = @pID AND (feedbackStatus = 2) AND Appointment_Status = 3
	end

	else
	begin
			set @count = 0
	end
end


----------------------------(2)-------------------------------

GO
/****** Object:  StoredProcedure [dbo].[retrievePHistory]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[retrievePHistory]
@dID INT
AS
BEGIN
		select P.Name as [Name], Disease, Progress, Prescription
		from Appointment A join Patient P on A.PatientID = P.PatientID
		where DoctorID = @dId and Appointment_Status = 3
END


GO
/****** Object:  StoredProcedure [dbo].[RetrieveTreatmentHistory]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[RetrieveTreatmentHistory]

@pID int,
@count int OUTPUT

as
begin

	select CONVERT(VARCHAR(11),[date],106) as [Date], [Name] as [Doctor's Name], Disease as [Diagnosed Disease], Progress as [Progress Made], Prescription
	from Appointment A join Doctor D on A.DoctorID = D.DoctorID
	where PatientID = @pID and Appointment_Status = 3

	select @count = count(*) from Appointment where PatientID = @pID and Appointment_Status = 3
end



--------------------------TakeAppointment-------------------------

----------------------------(1)-------------------------------

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteProfileImage]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DeleteProfileImage]
    @LoginID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DELETE FROM dbo.ProfileImages 
    WHERE LoginID = @LoginID;
    
    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProfileImage]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetProfileImage]
    @LoginID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        ImageID, LoginID, S3BucketName, S3Key, FileName,
        FileExtension, ContentType, FileSizeBytes, S3Url, UploadedAt, UpdatedAt
    FROM dbo.ProfileImages
    WHERE LoginID = @LoginID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertProfileImage]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UpsertProfileImage]
    @LoginID INT,
    @S3BucketName VARCHAR(100),
    @S3Key VARCHAR(500),
    @FileName VARCHAR(255),
    @FileExtension VARCHAR(10),
    @ContentType VARCHAR(100),
    @FileSizeBytes BIGINT,
    @S3Url VARCHAR(1000) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Hard delete existing profile image if any
    DELETE FROM dbo.ProfileImages
    WHERE LoginID = @LoginID;
    
    -- Insert new profile image
    INSERT INTO dbo.ProfileImages 
    (LoginID, S3BucketName, S3Key, FileName, FileExtension, ContentType, FileSizeBytes, S3Url)
    VALUES 
    (@LoginID, @S3BucketName, @S3Key, @FileName, @FileExtension, @ContentType, @FileSizeBytes, @S3Url);
    
    SELECT SCOPE_IDENTITY() AS ImageID;
END
GO
/****** Object:  StoredProcedure [dbo].[storeFeedback]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[storeFeedback]

@aID int

as
begin

	declare @dID int
	select @dID = DoctorID from Appointment where AppointID = @aID

	declare @RI float, @PT int

	select @RI = ReputeIndex, @PT = Patients_Treated from Doctor where DoctorID = @dID

	declare @avg float

	select @avg = (@RI * (@PT-1)) / @PT


	update Doctor
	set ReputeIndex = @avg
	where DoctorID = @dID

	update Appointment
	set FeedbackStatus = 1
	where AppointID = @aID

end









---------------------------------Triggers------------------------------------------


----------------------------------(1)-----------------------------------------------------

---If there is already one pending appointment for a patient, then he isn't allowed to take another appointment
GO
/****** Object:  StoredProcedure [dbo].[TODAYS_APPOINTMENTS]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[TODAYS_APPOINTMENTS]
@DOC_ID INT
AS
BEGIN
	SELECT A.AppointID, P.Name as [Patient's Name], A.[Date], isnull( convert( varchar(2),Bill_Amount) ,  'NA') as [Bill Amount], isnull( convert( varchar(2),Bill_Status),  'NA')  as [Bill Status] , isnull( convert( varchar(2),Disease) ,  'NA') as [Disease], isnull( convert( varchar(2),Progress) ,  'NA') as [Progress], isnull( convert( varchar(2),Prescription) ,  'NA') as [Prescription], Appointment_Status  FROM Appointment A
	JOIN Patient P ON A.PatientID = P.PatientID
	WHERE A.DoctorID = @DOC_ID AND A.Appointment_Status = 1 and DATEDIFF(DAY, A.Date, GETDATE()) = 0
END




----------------------------(4)-------------------------------

-------------Generates the Bill----------------
GO
/****** Object:  StoredProcedure [dbo].[UpdatePrescription]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdatePrescription]
@docId int ,
@appointid int,
@Disease varchar(30),
@Progress varchar(50),
@Prescription varchar(60)
as 

begin
	update Appointment 
	set Disease=@disease,Progress=@progress,Prescription=@prescription,Appointment_Status=3,PatientNotification=2,FeedbackStatus = 2
	where Appointid=@appointid
end




----------------------------(10)-------------------------------

------------To get the information about an appointment----------------
GO
/****** Object:  DdlTrigger [DontDeleteFunction]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*THIS TRIGGER RESTRICTS FUNCTION DELETE*/
CREATE TRIGGER [DontDeleteFunction]
ON DATABASE
FOR DROP_FUNCTION
AS
BEGIN
	PRINT('Function Deletion is Not Allowed')
END








--------------------------------------------------------------------------------
--								VIEWS										 --
--------------------------------------------------------------------------------



------------------------------------------(1)---------------------------------------

GO
DISABLE TRIGGER [DontDeleteFunction] ON DATABASE
GO
/****** Object:  DdlTrigger [DontDeleteProcedure]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*THIS TRIGGER RESTRICS PROCEDURE DELETE*/
CREATE TRIGGER [DontDeleteProcedure]
ON DATABASE
FOR DROP_PROCEDURE
AS
BEGIN
	PRINT('Procedure Deletion Not Allowed.')
END



------------------------------------------(7)---------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
GO
DISABLE TRIGGER [DontDeleteProcedure] ON DATABASE
GO
/****** Object:  DdlTrigger [DontDeleteTable]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------(5)---------------------------------------
/*THIS TRIGGER RESTRICTS TABLE DELETE*/
CREATE TRIGGER [DontDeleteTable]
ON DATABASE
FOR DROP_TABLE
AS
BEGIN
	PRINT('Table Deletion Not Allowed.')
END




------------------------------------------(6)---------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------
GO
DISABLE TRIGGER [DontDeleteTable] ON DATABASE
GO
/****** Object:  DdlTrigger [DontDeleteView]    Script Date: 30-01-2026 13:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*THIS TRIGGER RESTRICTS VEIW DELETE*/
CREATE TRIGGER [DontDeleteView]
ON DATABASE
FOR DROP_VIEW
AS
BEGIN
	PRINT('View Deletion Not Allowed.')
END

-----------------------------------------------------------------------------------------------------------------------------------------------

------------------------------------------(8)---------------------------------------
GO
DISABLE TRIGGER [DontDeleteView] ON DATABASE
GO
ENABLE TRIGGER [DontDeleteFunction] ON DATABASE
GO
ENABLE TRIGGER [DontDeleteProcedure] ON DATABASE
GO
ENABLE TRIGGER [DontDeleteTable] ON DATABASE
GO
ENABLE TRIGGER [DontDeleteView] ON DATABASE
GO
USE [master]
GO
