@page
@model ClinicManagement.Web.Pages.Doctors.IndexModel
@{
    ViewData["Title"] = "Doctors";
}

<h1>Doctors</h1>
<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<p>Doctors management page (similar CRUD pages can be added like Patients)</p>
